body {
    background-color: aquamarine;
    background-image: linear-gradient(#49dee2, #38d6ff, #70c9ff, #b0b6ff, #e4a1ed);
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

#selectStyle {
    height: 29px;
    overflow: hidden;
    width: 470px;
    position: relative;
    text-align: center;
    background-color: #b0b6ff;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    color: #735cb3;
    background-clip: text;
    font-family: cursive, Comic Sans MS;
    text-shadow: 0 0 10px white, 0 0 12px lavenderblush;
    position: relative;
    text-align: right;
    right: 16%;
    padding-bottom: 5%;
}

img {
    width: 100px;
    height: auto;
    border-color: #553c9a;
    border-radius: 10%;
}

p {
    font-size: large;
    color: #553c9a;
}

div {
    border-color: black;
    border-radius: 8%;
}

.box {
    width: 130px;
    height: 180px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
 }

 ul {
    list-style: none;
    display: flex; 
    align-content: center;
  }

#bannerimage {
    width: 100%;
    background-image: url("/images/backgroundBanner.png");
    height: auto;
    padding-top: 1px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  